<h3><%= @product.name %></h3>
<h3><%= @product.price %></h3>

<form action="/product/<%= @product.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="name">Name of Product</label>
  <input type="text" id="name" name="name">
  <label for="price">Price of Product</label>
  <input type="text" id="price" name="price">
  <button type="submit" class="btn btn-primary">Update Product</button>
</form>

<form action="/product/<%= @product.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-primary">Delete Product</button>
</form>
